@import "~materialize-css/sass/components/prefixer";
@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";

.entitiesComp {

  .entitiesWrapper {
    overflow-y: scroll;
    height: 500px;
  }

  button.entity {
    width: 100%;
    margin: 10px 0;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    opacity: 0.5;

    &.selected {
      @extend .z-depth-3;
      opacity: 1;
    }
    &.positive, &.positve:focus {
      @extend .green, .darken-4;
    }
    &.neutral, &.neutral:focus {
      @extend .blue-grey, .darken-2;
    }
    &.negative, &.negative:focus {
      @extend .red, .darken-4;
    }
  }

}


